<% provide(:title, 'USC Small Groups') %>

<%= render 'small_groups/small_groups_common' %>
<br>
<br>

<h2 class="text-center">Find A Small Group</h2>
<div class="row">
  <section class="small-12 large-10 large-centered columns">
    <div class="row">
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Freshmen Guys </h5>
      <p> Current Study: Who is Jesus?<br>
          1st Meeting: September 10th (Wed) 8pm @ VKC Steps<br>
          Leaders: Ethan Chan, Jeremy Chen, Albert Cho<br>
      </p>
    </section>
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Freshmen Girls </h5>
      <p> Current Study: Who is Jesus?<br>
          Location/Time: Tuesdays 8pm @ VKC 161<br>
          Leaders: Jennifer Hang, Nelly Sandoval<br>
      </p>
    </section>
    </div>
    <div class="row">
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Sophomore/Junior Guys </h5>
      <p> Current Study: The Spirit-filled Follower of Christ<br>
          Location/Time: TBA<br>
          Leaders: Ethan Chan, David Lee<br>
      </p>
    </section>
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Sophomore/Junior Girls </h5>
      <p> Current Study: The Spirit-filled Follower of Christ<br>
          Location/Time: TBA<br>
          Leaders: Jennifer Hang, Kezia Rusli<br>
      </p>
    </section>
    </div>
    <div class="row">
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Senior Guys </h5>
      <p> Current Study: The Character of a Follower of Christ<br>
          Location/Time: Sundays, 9pm, 1226 Adams<br>
          Leaders: Jeremy Chen, Albert Cho<br>
      </p>
    </section>
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Senior Girls </h5>
      <p> Current Study: The Character of a Follower of Christ<br>
          Location/Time: Wednesdays 6pm @ THH 106<br>
          Leader: Brenda Lee<br>
      </p>
    </section>
    </div>
    <div class="row">
    <section class="small-12 medium-6 medium-centered columns white-border contact-box">
      <h5> International Students </h5>
      <p> Current Study: Who is Jesus?<br>
          Location/Time: Tuesdays 9pm @ VKC 106<br>
          Leaders: David Lee, Kezia Rusli<br>
      </p>
    </section>
    </div>
  </section> 
</div>

<div class="row text-center block-spacing-top">
  <div class="small-12 columns">
    <%= link_to "Get Involved", contact_path, class: "responsive-button" %>
  </div>
</div>
