

<div class="row">
<div class="hide-for-small-only small-8 medium-12 large-8 small-centered large-centered medium-centered columns text-center">
<section class="row separation-3"></section>
      <div class= "header">
        To love God with all of our hearts, souls, minds and strength, to love our neighbors as ourselves and to make disciples of all nations.
      </div>

</div>
</div>

<section class="row separation-1"></section>

<div class="row">
<div class= "visible-for-medium-up margin-1 medium-12 large-12 misstitle" >
  Our Mission
</div>


<div class= "visible-for-small-only small-12 misstitle text-center" >
  Our Mission
</div>
</div>

<section class="row separation-0"></section>

<div class="row">
<div class= "large-11 small-12 large-centered columns" >
      <div class="misstateleft large-6 small-12 columns">
        <p>
          In Christ Along Ministry is an inter-denominational or
        non-denominational, non-profit organization whose purpose
        has simply been "to worship God and make Christ's love
        known." We love Jesus, we love each other, we love studying the Bible and praying together as a family of believers,
        and we love proclaiming our witness to the power and
        goodness of the Word and Jesus' name to others.
        </p>    
        <p>
          Our mission is this: To advance the gospel of Jesus
        and His Kingdom into the nations, mainly through equipping
        spiritual generations of labourers living among those who do
        not know Christ so they can be disciples and disciple-
        makers anywhere. 
        </p>
      </div>
  
    <div class="misstateright large-6 small-12 columns">
      <p>
        We are compelled by the love we've experienced from
      Jesus to go out and invite more people to share in our joy of
      fellowship with Christ. Through discipleship and unity in faith,
      we desire to make true followers after Jesus who would demonstrate Christ's character and devotion and bring glory and
      worship to God (Matthew 28:19-20).
      </p>
      <p>
        As we learn to be faithful followers of Jesus in our daily
      lives, we want to pass on the knowledge and wisdom of what
      we've learned to younger generations, to also see them
      become spiritual leaders and genuine disciples and continue
      passing on the knowledge of Christ wherever they go. We want
      to make Christ's love known to all the nations.   
      </p>
    </div>
  </div>
</div>




<section class="row separation-0"></section>



<div class= "row"
<div class="small-12">
  <section class="fixed-photo bg-img fast-height-trans" id="home-main">
  </section>
</div>

<section class="row separation-1"></section>


<div class="row">
<div class= "visible-for-large-up margin-1 medium-12 large-12 misstitle" >
  Our Vision
</div>


<div class= "show-for-medium-down small-12 misstitle text-center" >
  Our Vision
</div>
</div>

<section class="row separation-0-1"></section>
<div class="row">
<div class= "visible-for-large-up margin-1 medium-12 large-12 threeE" >
  3E Ministry
</div>

<div class= "show-for-medium-down small-12 misstitle text-center threeE" >
  3E Ministry
</div>
</div>
<section class="row separation-0-1"></section>

<div class="row" data-equalizer>
<div class="small-12 medium-12 large-10 medium-centered large-centered small-centered columns">
<ul class="small-block-grid-1 medium-block-grid-3  large-block-grid-3 ">
  <li>
        <div class="text-center Ev" data-equalizer-watch>
        <section class="separation-1"></section>
        <%= image_tag("cross.png" , :height => 30, :width =>35 )  %>
        
        <section class="separation-0"></section>   
        <div class="EvHeader">
            EVANGELIZE
        </div>
        <div class="EvBody">
            God desires for everyone to come to Christ. Salvation only comes through Jesus Christ, but He can use us to bring the good news to people everywhere. We are called to share the good news of the Gospel of Christ to all the nations. 
        </div> 
        <section class="separation-1"></section>
        </div>

  </li>
  <li>
        <div class="text-center  Est" data-equalizer-watch>
        <section class="separation-1"></section>
        <%= image_tag("Plant.png", :height => 60, :width => 60)  %>
        <section class="separation-0"></section>

        <div class="EstHeader">
            ESTABLISH
        </div>
        <div class="EstBody">
          God wants every believer to mature in their faith in Him. We hope to establish disciples of Christ by building a firm foundation of devotion through the reading of God's Word, prayer, and fellowship. By doing so believers will grow in imitating the character of Christ.  
        </div>

        <section class="separation-1"></section>
    </div> 

  </li>
  <li>
     <div class="text-center Eq" data-equalizer-watch>
       <section class="separation-1"></section>
        <%= image_tag("sword.png", :height => 60, :width => 60)  %>
        <section class="separation-0"></section>

        <div class="EqHeader">
            EQUIP
        </div> 
        <div class="EqBody">
          God commands us all to go and make disciples! We train brothers and sisters to be equipped in discipleship and evangelism so they may be sent out to evangelize, establish, and equip spiritual generations of disciples for Christ. 

      </div>
      <section class="separation-1"></section>
      </div>
