<div class="row text-center">
  <section class="no-photo">
    <section class="separation-1"></section>
    <h1>Church Leadership</h1>
    <section class="separation-1"></section>
  </section>
</div>


<div class="row text-center">
  <div class = "small-9 small-centered small-block-grid-1 medium-block-grid-3 large-block-grid-3 columns">
	  <div class="small-12 medium-6 large-4 text-center columns">
      <a href="#", id = "pastormin", class = "rectangular inline-block",  data-reveal-id="modal1"></a>
      <div id="modal1" class="reveal-modal" data-reveal>
        <div class = "small 8 columns">
          <h3 class ="serif">
				   Joseph Min Ahn
				  </h3> 
				  <h4 class ="serif">
					 Senior Pastor
				  </h4>
          <br>
					  <p class = "indent responsive-indent">Raised as a pastor's son, Pastor Joseph Min Ahn recommited his life to Jesus in his college years and has pursued his love for Christ ever since. Pastor Min joined the Navigators while he was an undergraduate student at USC, and proceeded to serve with the Navs for many years, spurred by his desire to save souls. After training on staff with them for over twenty years, he was blessed by the Navigators to plant In Christ Alone in 2006.</p>
            <p class = "indent responsive-indent">Pastor Min has committed his life to making and raising up disciples to become spiritual reproducers and lifetime laborers for Jesus' sheep all over the world. Blessed with an apostolic gifting, he has planted various campus ministries across America and overseas, holding onto the vision of seeing spiritual generations multiplying faithful and teachable followers of Christ. Pastor Min has a passion for training, equipping, and mobilizing young lifetime laborers for God's Kingdom and has a heart to see Jesus' gospel of salvation and grace reach all nations. </p>
            <p class = "indent responsive-indent"> Pastor Min graduated with a Bachelor's and Master's degree in Electrical Engineering from USC, and with a Master of Divinity from Fuller Seminary. A former gymnast in high school, he also loves fixing electronics, playing guitar, and writing music. His favorite passages include John 15, John 4:34-35, Isaiah 54:1-2, and 2 Timothy 2:1-2. </p>
 		    </div>
 	    </div>
    </div>

	  <div class="small-12 medium-6 large-4 text-center columns">
  		<a href="#", id = "pastorgreer", class = "rectangular inline-block",  data-reveal-id="modal2"></a>
      <div id="modal2" class="reveal-modal" data-reveal>
        <div class = "small 8 columns">
          <h3 class = "serif">
            John Greer
          </h3> 
          <h4 class ="serif">
            Associate Pastor
          </h4>
          <br>
            <p class = "indent responsive-indent">Pastor John Greer was raised in a Christian home and committed his life to Christ as a freshmen in college at Western Kentucky University. He was placed in a Navigator Bible study where he learned the value of personal devotions, Bible study, prayer, scripture memory, evangelism, and discipleship. Over the last 30 years, he has made it his life's ambition to live out the Navigator motto, "To know Christ and to make Him known."</p>
            <p class = "indent responsive-indent">Pastor John joined the board of In Christ Alone (ICA) after serving as both a pastor and missionary in East Asia and in the United States. He has served the Navigators Church Discipleship Ministries (CDM) and the Korean Navigators, and founded Living Peace Community Church and Christianity at Work - a ministry committed to living out the call of discipleship within the context of the workplace (www.christianityatwork.org).</p>
            <p class = "indent responsive-indent"> Pastor John graduated with a Bachelor's degree from Western Kentucky University in Electrical Engineering Technology and pursued graduate studies at both the University of Massachusetts (UMASS-Lowell) and USC. He graduated from Fuller Seminary with a Master of Divinity. John enjoys playing soccer and writing and lives with his family in Long Beach, California. His favorite passages include Matthew 22:37-40, Matthew 28:18-20, and 2 Timothy 2:1-2.</p>
      </div>
    </div>
  	</div>

	  <div class="small-12 medium-6 large-4 text-center columns">
      <a href="#", id = "mikewong", class = "rectangular inline-block",  data-reveal-id="modal3"></a>
      <div id="modal3" class="reveal-modal" data-reveal>
        <div class = "small 8 columns">
          <h3 class = "serif">
            Michael Wong
          </h3> 
          <h4 class ="serif">
            Pastoral Intern
          </h4>
          <br>
            <p class = "indent responsive-indent">Michael was raised in a Christian home but first experienced the Lord and committed to a life of discipleship in his later years of high school. The Lord gave Michael a vision for disciple-making and evangelism, and he went on to receive more training with the Navigators during his undergraduate years at UCLA. He continued on the staff of the Navigators and ICA at UCLA for another four years before being called to pioneer a new campus ministry at UC Irvine. He continues to share the gospel on campus, lead Bible studies and fellowship meetings, and disciple stuents on a full-time basis.</p>
            <p class = "indent responsive-indent">Michael graduated from UCLA with a Bachelor's degree in Electrical Engineering but never worked in the field as the Lord called him to minister on campus immediately after graduation. He is happily married to Elaine, who is a PhD student at UCLA in Environmental Engineering and who is also active in disciple-making on campus. Michael is currently a part-time student at Talbot Theological Seminary in the M.Div program. </p>
        </div>
      </div>
    </div> 
  </div>
</div>


