<div class="row">
<div class="small-12">

<div class="fixed-photo img-bg" id="home-third">

</div>
</div>
</div>

<section class="row separation-1"></section>

<div class="row">
<div class= "visible-for-medium-up margin-1 medium-12 large-12 header-about" >
  We'd love to hear from you!
</div>
<div class= "visible-for-small-only small-12 header-about text-center" >
  We'd love to hear from you!
</div>
</div>




<section class="row separation-1"></section>

<div class="row">
<div class= "visible-for-medium-up margin-1 medium-12 large-12 subheader-about" >
  If you have any questions or would like to learn more about In Christ Alone (ICA) Ministry, please fill out<br>and submit your contact information below. One of our campus leaders will be in touch with you soon! 
</div>
<div class= "visible-for-small-only small-12  subheader-about text-center" >
    If you have any questions or would like to learn more about In Christ Alone (ICA) Ministry, please fill out<br>and submit your contact information below. One of our campus leaders will be in touch with you soon!
</div>
</div>




<section class="row separation-1"></section>


<div class="visible-for-medium-up">
<div class="row">
    <div class="medium-8 large-5 small-centered large-centered columns"><br />

<form class= "form">
<section class="row separation-1"></section>
  <div class="row">
    <div class=" medium-10 large-10 small-centered large-centered  columns">
      <label>Name:
        <input class="roundbox" type= "text" placeholder="Name" />
      </label>
    </div>
  </div>
  <div class="row">
   <div class=" medium-10 large-10 small-centered large-centered columns">
    <label>Email Address:
     <input class="roundbox" type="text" placeholder="Email" />
    </label>
   </div>
  
   </div>
  <div class="row">
     <div class=" medium-10 large-10 small-centered large-centered columns">
      <label>Campus
       <select class="roundbox" >
        <option value="none">Select One</option>
        <option value="ucla">UCLA</option>
        <option value="usc">USC</option>
        <option value="uci">UCI</option>
        <option value="ucb">UCB</option>
        
       </select>
     </span>
      </label> 
    </div>
    </div>
    
        <div class="row">
        <div class=" medium-10  large-10 small-centered  large-centered columns">
         <label>Message (Optional):
          <textarea rows="7"  class="roundbox"   placeholder="Comment"></textarea>
           </label>
            </div> 
          </div>
  <section class="row separation-1"></section>

</form>

</div>
 </div>

</div>




<div class="visible-for-small-only">
<div class="row">
<div class="small-12  small-centered columns"><br />


<form class= "form2">
<section class="row separation-2"></section>

  <div class="row">
    <div class="small-10 small-centered  columns">
      <label>
        <input type= "text" id="name" class="field" placeholder="Name" />
      </label>
    </div>
  </div>
  <div class="row">
   <div class="small-10  small-centered  columns">
    <label>
     <input type="text" id="email" class="field" placeholder="Email" />
    </label>
   </div>
  
   </div>
  <div class="row">
     <div class="small-10 small-centered columns">
      <label>
       <select class="field" id="school">
        <option value="">Campus:</option>
        <option value="ucla">UCLA</option>
        <option value="usc">USC</option>
        <option value="uci">UCI</option>
        <option value="ucb">UCB</option>
        
       </select>
      </label> 
    </div>
    </div>
    
        <div class="row">
        <div class="small-10 small-centered columns">
         <label>
          <textarea rows="5" id="comment"  placeholder="Comment"></textarea>
           </label>

               </div>
              </div>
            

  <section class="row separation-1"></section>
          </form>

</div>

</div>
        
</div>

<section class="row separation-0"></section>

<div class="row">
    <div class="hidden-for-small-only">

      <div class= "medium-5 large-5 medium-centered large-centered columns text-right">
      
         <%= link_to "Submit", "#", class: "responsive-button" %>
      </div>

        </div>

<div class="visible-for-small-only small-12 small-centered columns text-center">
      
    <%= link_to "Submit", "#", class: "responsive-button" %>

        </div>
</div>

<section class="row separation-2"></section>
