<h1>Equipping</h1>
<h1>Coming Soon!</h1>

<div class="separation-1"></div>

<div class="row collapse text-center">
  <div class="small-12 medium-4 columns">
    <%= link_to "Prev: Establish", establish_path, class: "responsive-button set-width-3e" %>
  </div>
  <div class="small-12 medium-4 columns">
    <%= link_to "Vision/Mission", about_path, class: "responsive-button set-width-3e" %>
  </div>
  <div class="medium-4 columns"></div>
</div>
