<div class="row text-center">
  <div class="small-12 columns">
    <h1 class="block-spacing-sml">Establish</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3><strong>What is Establishing?</strong></h3>
    <p class="indent">Before a disciple is able to be spiritually mature, they must be “rooted and established in [Christ]” (Colossians 2:7). A disciple must have a living, devoted relationship with God through actively enjoying the word of God and prayer. As a disciple grows in experiencing God’s love and grace, they become a “new creation” (2 Corinthians 5:17), becoming more and more like Christ. These changes become readily apparent in their Christlike character, their victory over sin, and their capacity to love and serve others.</p>
  </div>
</div>

<div class="row text-center">
  <div class="small-12 columns block-spacing-sml">
    <h3><strong>Tools for Establishing</strong></h3>
  </div>
</div>

<div class="row">
  <div class="medium-6 small-12 columns">
    <div class="flex-video">
      <iframe width="560" height="315" src="//www.youtube.com/embed/mYm9LyaqW4k" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="medium-6 small-12 columns">
    <h3>The Wheel Illustration</h3>
    <p class="indent">Description of wheel illustration blah blahbl ahblahb lahbl ahblah blah blahb lahb lahb lahbl ahblah blahbla hblah blahbl ahbl ahbla hbl ahbl ahbl ahbla hblah blah</p>
  </div>
</div>

<div class="row">
  <div class="medium-6 small-12 columns">
    <div class="flex-video">
      <iframe width="560" height="315" src="//www.youtube.com/embed/WDdPAr3xSy4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="medium-6 small-12 columns">
    <h3>The Hand Illustration</h3>
    <p class="indent">Description of hand illustration blah blahb lahb lahblahb lah blahb lahb lahbla hblah blahbla hblahb lah blahb lahbl ahblahb lahbla hbla hblah blah blahb lahb lah</p>
  </div>
</div>

<div class="row">
  <div class="medium-6 small-12 columns text-center">
    <%= link_to image_tag('establish/spiritual-milk-1.png',
      onmouseover: "this.src='#{asset_path('establish/spiritual-milk-2.png')}'",
      onmouseout: "this.src='#{asset_path('establish/spiritual-milk-1.png')}'"),
      asset_path('documents/spiritual_milk.pdf') %>
  </div>
  <div class="medium-6 small-12 columns">
    <h3>Spiritual Milk</h3>
    <p class="indent">Description of spiritual milk blah blahb lah blahbla hblah blah blahbla hbla hblahbla hblahb lahb lahblah blahbl ahblahbl ahbla hbl ahb lahb lah blahbl ahblah</p>
  </div>
</div>

<div class="separation-1"></div>

<div class="row collapse text-center">
  <div class="small-12 medium-4 columns">
    <%= link_to "Prev: Evangelize", evangelize_path, class: "responsive-button set-width-3e" %>
  </div>
  <div class="small-12 medium-4 columns">
    <%= link_to "Vision/Mission", about_path, class: "responsive-button set-width-3e" %>
  </div>
  <div class="small-12 medium-4 columns">
    <%= link_to "Next: Equip", equip_path, class: "responsive-button set-width-3e" %>
  </div>
</div>
