<h1>Establishing</h1>

<div class="row text-center">
  <div class="small-12 columns">
    <iframe width="560" height="315" src="//www.youtube.com/embed/mYm9LyaqW4k?list=UUWdEzPBdOKHiBlcVRyjr5VA" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="row text-center">
  <div class="small-12 columns">
    <iframe width="560" height="315" src="//www.youtube.com/embed/WDdPAr3xSy4?list=UUWdEzPBdOKHiBlcVRyjr5VA" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="row text-center">
  <%= link_to 'Spiritual Milk', asset_path('documents/spiritual_milk.pdf') %>
</div>
