<div class="row text-center">
  <div class="small-12 columns">
    <h1 class="block-spacing-sml"><strong>Evangelize</strong></h1>
  </div>
</div>

<div class="row collapse text-center">
  <div class="small-12 columns">
    <section class="row bg-blue-light block-spacing-sml">
      <div class="small-12 medium-8 large-6 small-centered columns">
        <h3><strong><em>"He said to them, 'Go into all the world and preach the good news to all creation.'"</em></strong></h3>
        <h3><strong><em>Mark 16:15</em></strong></h3>
      </div>
    </section>
  </div>
</div>

<div class="separation-1"></div>

<div class="row">
  <div class="medium-6 small-12 columns">
    <h3><strong>What is Evangelism?</strong></h3>
    <p class="indent">Evangelism is the process of sharing the Gospel with people so that they would have the chance to believe in it and be saved. The imperative of evangelism has its origins in Jesus’ command to his disciples, to “go into all the world and preach the Gospel to all creation” (Mark 16:15).</p>
  </div>
  <div class="medium-6 small-12 columns">
    <div>
      <%= image_tag "evangelize/ev-1.jpg" %>
    </div>
  </div>
</div>

<div class="separation-1"></div>

<div class="row collapse text-center">
  <div class="small-12 columns">
    <section class="row bg-blue-light block-spacing-sml">
      <div class="small-12 medium-8 large-6 small-centered columns">
        <h3><strong><em>"Therefore go and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit"</em></strong></h3>
        <h3><strong><em>Matthew 28:19</em></strong></h3>
      </div>
    </section>
  </div>
</div>

<div class="separation-1"></div>

<div class="row">
  <div class="medium-6 small-12 columns">
    <h3><strong>Why Do We Evangelize?</strong></h3>
    <p class="indent">Jesus, in his divine strategy, left the work of spreading the good news of salvation to his disciples, training them to become “fishers of men” (Matthew 4:19), and sending them to “make disciples of all nations” (Matthew 28:19). Evangelism is also an essential mark of the Spirit-empowered disciple, as being filled with the Holy Spirit precedes the work of witnessing (Acts 1:8).</p>
  </div>
  <div class="medium-6 small-12 columns">
    <div>
      <%= image_tag "evangelize/ev-2.jpg" %>
    </div>
  </div>
</div>

<div class="separation-1"></div>

<div class="row collapse text-center">
  <div class="small-12 columns">
    <section class="row bg-blue-light block-spacing-sml">
      <div class="small-12 medium-8 large-6 small-centered columns">
        <h3><strong><em>"But you will receive power when the Holy Spirit comes on you; and you will be my witnesses in Jerusalem, and in all Judea and Samaria, and to the ends of the earth."</em></strong></h3>
        <h3><strong><em>Acts 1:8</em></strong></h3>
      </div>
    </section>
  </div>
</div>

<div class="separation-1"></div>

<div class="row">
  <div class="small-12 columns">
    <div class="row text-center block-spacing-sml">
      <div class="small-12 columns">
        <h3><strong>Tools for Evangelism</strong></h3>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 small-12 columns">
        <div class="flex-video">
          <iframe width="560" height="315" src="//www.youtube.com/embed/LEZKrOfAaqQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="medium-6 small-12 columns">
        <h3><strong>The Bridge Illustration</strong></h3>
        <p class="indent">This is one of the primary tools we use to share the complete Gospel message to those who have never heard it. Invented by the Navigators, the Bridge uses a powerful visual to convey the message of God’s redemption. Use it to share the Gospel with your friends, family, and others!</p>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 small-12 columns">
        <div class="flex-video">
          <iframe width="560" height="315" src="//www.youtube.com/embed/lWefowKpWhc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="medium-6 small-12 columns">
        <h3><strong>The 4 Point Gospel</strong></h3>
        <p class="indent">The 4 Point Gospel is another tool you can use to share the Gospel in a concise and logical fashion. This illustration frames the Gospel message in terms of God’s attributes: that God is holy, God is just, God is love, and God is full of mercy and grace.</p>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 small-12 columns">
        <div class="flex-video">
          <iframe width="560" height="315" src="//www.youtube.com/embed/fsPsc701XT8" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="medium-6 small-12 columns">
        <h3><strong>The Hand Bridge</strong></h3>
        <p class="indent">If anyone has only a minute to hear the Gospel or if you would like to leave your friend with a smile, then use the Hand Bridge! The Hand Bridge is an abbreviated method to share the Gospel using just your hands.</p>
      </div>
    </div>
  </div>
</div>

<div class="separation-1"></div>

<div class="row collapse text-center">
  <div class="small-12 medium-4 medium-offset-4 columns">
    <%= link_to "Vision/Mission", about_path, class: "responsive-button set-width-3e" %>
  </div>
  <div class="small-12 medium-4 columns">
    <%= link_to "Next: Establish", establish_path, class: "responsive-button set-width-3e" %>
  </div>
</div>
