<% provide(:title, 'Church Leadership') %>

<div class="row text-center">
  <section class="no-photo">
    <section class="separation-1"></section>
    <h1>Leadership</h1>
    <section class="separation-1"></section>
  </section>
</div>

<div class="row" data-equalizer>
  <div class="medium-4 small-12 columns text-center panel no-padding-bottom-sml" data-equalizer-watch>
    <%= image_tag "pmin.jpg" %>
    <h3>Joseph Min Ahn</h3>
    <h4><em>Director</em></h4>
  </div>
  <div class="medium-8 small-12 columns panel" data-equalizer-watch>
    <p class = "indent">Raised as a pastor's son, Pastor Joseph Min Ahn recommited his life to Jesus in his college years and has pursued his love for Christ ever since. Pastor Min joined the Navigators while he was an undergraduate student at USC, and proceeded to serve with the Navs for many years, spurred by his desire to save souls. After training on staff with them for over twenty years, he was blessed by the Navigators to plant In Christ Alone in 2006.</p>
    <p class = "indent">Pastor Min has committed his life to making and raising up disciples to become spiritual reproducers and lifetime laborers for Jesus' sheep all over the world. Blessed with an apostolic gifting, he has planted various campus ministries across America and overseas, holding onto the vision of seeing spiritual generations multiplying faithful and teachable followers of Christ. Pastor Min has a passion for training, equipping, and mobilizing young lifetime laborers for God's Kingdom and has a heart to see Jesus' gospel of salvation and grace reach all nations.</p>
    <p class = "indent"> Pastor Min graduated with a Bachelor's and Master's degree in Electrical Engineering from USC, and with a Master of Divinity from Fuller Seminary. A former gymnast in high school, he also loves fixing electronics, playing guitar, and writing music. His favorite passages include John 15, John 4:34-35, Isaiah 54:1-2, and 2 Timothy 2:1-2.</p>
  </div>
</div>

<div class="row" data-equalizer>
  <div class="medium-4 small-12 columns text-center panel no-padding-bottom-sml" data-equalizer-watch>
    <%= image_tag "danny.jpg" %>
    <h3>Danny Furuyama</h3>
    <h4><em>Full-time Staff</em></h4>
  </div>
  <div class="medium-8 small-12 columns panel" data-equalizer-watch>
    <p class="indent">The Lord revealed Himself to Danny Furuyama at a summer church camp in middle school. In high school, God gave Him a motto that changed the direction of his life, “God is not concerned about your ability, but your availability.”  From that point, Danny has been in the process of being available to God and His leading.</p>
    <p class="indent">Danny Furuyama attended University of California, Los Angeles and studied electrical engineering. He joined a Christian fellowship group called the Navigators and served on staff for three years. In 2003, Danny and two others pioneered a chapter at UC Berkeley and he continued to serve there for twelve years. Danny has also led several teams on Volunteer Summer English Teachers (VSET) in East Asia, Mongolia, Kyrgyzstan, Kazakhstan, and Turkey. In 2015, Danny started a new chapter at Rutgers University and serves as the youth pastor at Graceway Presbyterian Church. He is married to Akemi and has two sons named Isaiah and Micah. Danny also enjoys sports, board games, cooking, photography, and movies.</p>
  </div>
</div>

<div class="row" data-equalizer>
  <div class="medium-4 small-12 columns text-center panel no-padding-bottom-sml" data-equalizer-watch>
    <%= image_tag "mgw.jpg" %>
    <h3>Michael Wong</h3>
    <h4><em>Full-time Staff</em></h4>
  </div>
  <div class="medium-8 small-12 columns panel" data-equalizer-watch>
    <p class = "indent">Michael was raised in a Christian home but first experienced the Lord and committed to a life of discipleship in his later years of high school. The Lord gave Michael a vision for disciple-making and evangelism, and he went on to receive more training with the Navigators during his undergraduate years at UCLA. He continued on the staff of the Navigators and ICA at UCLA for another four years before being called to pioneer a new campus ministry at UC Irvine. He continues to share the gospel on campus, lead Bible studies and fellowship meetings, and disciple stuents on a full-time basis.</p>
    <p class = "indent">Michael graduated from UCLA with a Bachelor's degree in Electrical Engineering but never worked in the field as the Lord called him to minister on campus immediately after graduation. He is happily married to Elaine, who is a PhD student at UCLA in Environmental Engineering and who is also active in disciple-making on campus. Michael is currently a part-time student at Talbot Theological Seminary in the M.Div program.</p>
  </div>
</div>

<div class="row" data-equalizer>
  <div class="medium-4 small-12 columns text-center panel no-padding-bottom-sml" data-equalizer-watch>
    <%= image_tag "jgreer.jpg" %>
    <h3>John Greer</h3>
    <h4><em>Associate Staff</em></h4>
  </div>
  <div class="medium-8 small-12 columns panel" data-equalizer-watch>
    <p class = "indent">Pastor John Greer was raised in a Christian home and committed his life to Christ as a freshmen in college at Western Kentucky University. He was placed in a Navigator Bible study where he learned the value of personal devotions, Bible study, prayer, scripture memory, evangelism, and discipleship. Over the last 30 years, he has made it his life's ambition to live out the Navigator motto, "To know Christ and to make Him known."</p>
    <p class = "indent">Pastor John joined the board of In Christ Alone (ICA) after serving as both a pastor and missionary in East Asia and in the United States. He has served the Navigators Church Discipleship Ministries (CDM) and the Korean Navigators, and founded Living Peace Community Church and Christianity at Work - a ministry committed to living out the call of discipleship within the context of the workplace (www.christianityatwork.org).</p>
    <p class = "indent"> Pastor John graduated with a Bachelor's degree from Western Kentucky University in Electrical Engineering Technology and pursued graduate studies at both the University of Massachusetts (UMASS-Lowell) and USC. He graduated from Fuller Seminary with a Master of Divinity. John enjoys playing soccer and writing and lives with his family in Long Beach, California. His favorite passages include Matthew 22:37-40, Matthew 28:18-20, and 2 Timothy 2:1-2.</p>
  </div>
</div>
