<div class="row text-center">
  <h1>Summer Training Program (STP)</h1>
</div>

<div class="row">
  <section class="main-photo img-bg fast-height-trans" id="home-main">
  </section>
</div>

<div class="row">
  <div class="medium-6">
    <h3>What is STP?</h3>
    <p class="indent serif-black">Summer Training Program (STP) is an intensive two- or
      three-week long program that will strengthen your walk with 
      Christ, show you the power of the Word and prayer, bond you 
      with your brothers and sisters, and teach you how to share your 
      faith with others. STP is open not only to those in ICA, but to 
      anyone who would like to be challenged, strengthened and 
      equipped in their faith.</p>
  </div>
  <div class="medium-6">
  </div>
</div>

<div class="row">
  <div class="medium-6">
  </div>
  <div class="medium-6">
  </div>
</div>

<div class="row">
  <div class="medium-6">
  </div>
  <div class="medium-6">
  </div>
</div>

<div class="row">
</div>
