<% provide(:title, 'WHEC') %>
<section class = "separation-1"> </section>
<h1 class = "text-center"> White Harvest Evangelical Church</h1>
<section class = "separation-1"></section>
<div class = "row">
	<div class = "medium-10 medium-centered columns" >
		<div class = "row" data equalizer>
			<div class = "medium-6 columns" data-equalizer-watch>
				<div class = "row">	
					<section class = "separation-1"></section>
					<p class = "verse text-right">
						“Do you not say, ‘There are yet four months more, and then comes the harvest?’ Behold, I say to you, lift up your eyes and look on the fields, they are <white_harvest> white for harvest.” </white_harvest>
					</p>
					<section class = "separation-1"> </section>
					<p class = "verse text-right">
						- John 4:35 (NASB)
					</p>
				</div>
				<div class = "row" style = "margin-right:10px; background-color:#E0E2E4;">
					
					<section class = "separation-1"> </section>
					<p class = "invite text-center"> 
						Come fellowship with us this Sunday morning! <br><br>
						9:45 a.m. <br>
						USC Campus, SGM 101 <br>
					</p>
				</div>
			</div>
			<div class = "medium-6 columns" id = "whec-cross" data-equalizer-watch>
				<div class = "row">	
					<section class = "main-photo" > </section>
				</div>
			</div>
		</div>
	</div>
</div>
<section class = "separation-2"> </section>
<div class = "medium-3 medium-centered columns">
	<div class = "row">
		<div class = "medium-6  columns">
			<%= link_to "Church Leaders", church_leadership_path, class: "responsive-button" %>
		</div>
		<div class = "medium-6 columns">
			<%= link_to "Faith Statement", "#faith_statement", class: "responsive-button" %>
		</div>
	</div>
</div>
<section class = "separation-2"></section>
<h2 style = "text-indent: 50px;"> <strong>Praise and Prayer Night </strong></h2>
<div class = "row">
	<div class = "medium-12 columns">
		<div class = "row">
			<div class = "medium-6 columns">
				<div class = "row">
					<section class = "main-photo bg-img-top " id = "whec-worship">
					</section>
				</div>
			</div>
			<div class = "medium-6 columns">
				<div class = "row">
					<section class = "main-photo bg-img-top fast-height-trans " id = "whec-worship-jack">
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
<section class = "separation-2"></section>
<div class = "row">	
	<div class = "medium-11 medium-centered columns">
		<div class = "row">
			<div class = "medium-7 columns">
				<p class = "text-center psalms">
					“I will praise the name of God with song <br>
					And magnify Him with thanksgiving.” <br>
						—Psalm 69:30
				</p>
				<section class = "separation-2"></section>
				<p class = "indent">
					Have you had a long and busy week? Are you going through difficult times? Or do you have reason to be joyful and thankful? We invite you to join us for Praise Night, a time of worship music and prayer held on Friday night. 
				</p>
				<p class = "indent">
					Bringing together people from our different campus ministries and White Harvest Evangelical Church, praise night is an opportunity to worship and enjoy God corporately. At praise nights, we have a chance to fellowship with one another participating in fun activities. After worship is a time reserved for quiet individual prayer. Come join us as we give the Lord the glory due His name and experience times of refreshing!
				</p> 
			</div>
			<div class = "medium-5 columns text-center">
				<section style = "background-color:#C9D2DB; "> 
					<section class = "separation-3"> </section>
					<p class = "invite">
						Come praise with us!
						<br> <br>
						Friday 7:30 p.m. <br>
						Off-Campus
					</p>
					<section class = "separation-2"> </section>
					<div class = "row">
							<div class = "medium-6 medium-centered columns">
								<%= link_to "Request a Ride", contact_path, class: "responsive-button" %>
							</div>
							<section class = "separation-3"> </section>
						</div>
				</section>
			</div>
		</div>
	</div>
</div>
<section class = "separation-3"> </section>
<a name="faith_statement"> </a>
<h2 style = "text-indent: 50px;"> Our Foundational Beliefs </h2>
<section class = "separation-1"></section>
<div class = "row">
	<div class = "medium-11 medium-centered columns">
		<div class = "row">
			<div class = "medium-4 columns">
				<div class = "row" id = "cf">
						<div class="square" style= "background-color: #E8EEF3">
					    <p class = "text-center foundational">
						    We believe that there is
								one God (Deuteronomy 
								6:4), eternally existing in 
								three persons—Father, 
								Son, and Holy Spirit (2 
								Cor. 13:14)—who created 
								the heavens and the 
								earth (Gen. 1:1).
							</p>
					  </div>
						<div class="top square" style= "background-color: #E8EEF3">
				    	<section class = "separation-2"></section>
					    <h2 class = "text-center foundational">
					    	<strong>One God
					    	existing in three
					    	persons: Father, 
					    	Son and Holy Spirit</strong>
					    </h2>
					   </div>
				</div>
			</div>			
			<div class = "medium-4 columns">
				<div class = "row" id = "cf">
					<div class="square" style= "background-color: #D2DCE7">
				    <p class = "text-center foundational">
							We believe that Jesus
					    Christ is the Lamb of 
					    God who died for sins 
					    once for all (1 Peter 3:18-
					    19) and rose from death 
					    in three days, according 
					    to the Scriptures 
					    (1 Cor. 15:3-4).
						</p>
			  	</div>
					<div class="top square" style= "background-color: #D2DCE7">
			    	<section class = "separation-2"></section>
				    <h2 class = "text-center foundational">
			    	<strong>Life, death and 
			    	resurrection of 
			    	Jesus Christ, who 
			    	is the Lamb of God</strong>
				    </h2>
			   </div>
				</div>
			</div>			
			<div class = "medium-4 columns">
				<div class = "row" id = "cf">
					<div class="square" style= "background-color: #BBCBDB">
			    <p class = "text-center foundational">
				    We believe that there is
						one God (Deuteronomy 
						6:4), eternally existing in 
						three persons—Father, 
						Son, and Holy Spirit (2 
						Cor. 13:14)—who created 
						the heavens and the 
						earth (Gen. 1:1).
					</p>
			  </div>
				<div class="top square" style= "background-color: #BBCBDB">
		    	<section class = "separation-2"></section>
			    <h2 class = "text-center foundational">
			    	<strong>One God
			    	existing in three
			    	persons: Father, 
			    	Son and Holy Spirit</strong>
			    </h2>
			   </div>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "medium-4 columns">
				<div class = "row" id = "cf">
						<div class="square" style= "background-color: #A5BACF">
					    <p class = "text-center foundational">
						    We believe that Jesus
						    Christ (as fully God and 
						    fully man) is our Lord 
						    and God, our Savior and 
						    Redeemer who saved us 
						    from sin and eternal 
						    death (Eph. 1:7).
							</p>
					  </div>
						<div class="top square" style= "background-color: #A5BACF">
				    	<section class = "separation-2"></section>
					    <h2 class = "text-center foundational">
					    	<strong>Jesus saved us 
								from sin and 
								eternal death. </strong>
					    </h2>
					   </div>
				</div>
			</div>			
			<div class = "medium-4 columns">
				<div class = "row" id = "cf">
					<div class="square" style= "background-color: #8EA8C3">
			    <p class = "text-center foundational"style = "color:#FFFFFF">
				    We believe that it is by 
				    God's mercy and grace 
				    that we have been saved 
				    through faith (Titus 3:5), 
				    and this salvation is a 
				    completely free gift from 
				    God (Eph. 2:8-9).
					</p>
			  </div>
				<div class="top square" style= "background-color: #8EA8C3">
		    	<section class = "separation-2"></section>
			    <h2 class = "text-center foundational" style = "color:#FFFFFF">
			    	<strong>Salvation is by 
			    		God’s mercy and 
			    		grace and is a 
			    		completely free 
			    		gift.</strong>
			    </h2>
			   </div>
				</div>
			</div>			<div class = "medium-4 columns">
				<div class = "row" id = "cf">
					<div class="square" style= "background-color: #6B7E92">
			    <p class = "text-center foundational"style = "color:#FFFFFF">
				    We believe in the Holy
				    Spirit who indwells in 
				    those who believe (1 Cor. 
				    3:16), and that he intercedes 
				    for us (Ro. 8:26-27) 
				    and sanctifies us (2 Thes. 
				    2:13) to be conformed to 
				    the image of Christ 
				    (Ro. 8:29).
					</p>
			  </div>
				<div class="top square" style= "background-color: #6B7E92">
		    	<section class = "separation-2"></section>
			    <h2 class = "text-center foundational"style = "color:#FFFFFF">
		    	<strong>The Holy Spirit
		    		dwells in us, 
		    		intercedes for us 
		    		and sanctifies us.</strong>
			    </h2>
			   </div>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "medium-4 columns">
				<div class = "row" id = "cf">
						<div class="square" style= "background-color: #505F6E">
					    <p class = "text-center foundational"style = "color:#FFFFFF">
						    We believe in the Holy 
						    Scripture (the Bible) as 
						    the only authoritative, 
						    inspired, trustworthy, 
						    and eternal Word of God 
						    (2 Tim. 3:16; 2 Pet. 1:21).
							</p>
					  </div>
						<div class="top square" style= "background-color: #505F6E">
				    	<section class = "separation-2"></section>
					    <h2 class = "text-center foundational"style = "color:#FFFFFF">
					    	<strong>The Bible is the
					    		eternal Word of 
					    		God. </strong>
					    </h2>
					   </div>
				</div>
			</div>			
			<div class = "medium-4 columns">
				<div class = "row" id = "cf">
					<div class="square" style= "background-color: #505F6E">
				    <p class = "text-center foundational"style = "color:#FFFFFF">
					    We believe in Christ's 
					    Second Coming, and 
					    that on that day, those 
					    who were dead in Christ 
					    will rise first. Then those 
					    who are alive will be 
					    lifted together in the 
					    cloud to be with God 
					    forever (1 Thess. 4:16-17).
						</p>
				  </div>
					<div class="top square" style= "background-color: #505F6E">
			    	<section class = "separation-2"></section>
				    <h2 class = "text-center foundational"style = "color:#FFFFFF">
				    	<strong>Christ will come
				    		again.</strong>
				    </h2>
				  </div>
				</div>
			</div>			
			<div class = "medium-4 columns">
				<div class = "row" id = "cf">
							<div class="square" style= "background-color: #3C4753">
					    <p class = "invite foundational"style = "color:#FFFFFF">
							   We believe in the eternal 
							   life and relationship with 
							   God, and, as God's elect, 
							   that this life is eternally 
							   secure and will never be 
							   lost (Jn. 10:27-29; 
							   1 Pet. 1:3-5).
							</p>
					  </div>
						<div class="top square" style= "background-color: #3C4753">
				    	<section class = "separation-2"></section>
					    <h2 class = "text-center foundational"style = "color:#FFFFFF">
					    	<strong>As God’s elect, we 
					    		have an eternal life 
					    		that can never be 
					    		lost.</strong>
					    </h2>
					   </div>
				</div>
			</div>
		</div>	
	</div>
</div>