<br>
<div class="row" data-equalizer>
  <div class="large-10 large-centered columns">
    <div class="row">
      <div class="small-12 medium-6 columns" data-equalizer-watch>
        <h2> Small Groups </h2>
        <p class="indent"> Small groups are a great way to grow in your knowledge of God and in friendship with your fellow brothers and sisters. In our weekly small group meetings, we study the Bible together to know Christ and His importance in our life, and support each other by sharing our lives and praying with one another. We welcome both believers and seekers to come join our small groups! </p>
        <p class="indent"> Small groups progress through a series of different Bible studies: the Investigative Bible Studies (IBS), the Assurances, and Design for Discipleship (DFD).</p>
      </div>
      <div style="line-height:50px" class="small-12 medium-6 hide-for-small-down columns end" data-equalizer-watch>
        <%= image_tag "bibles_and_coffee.jpg", class: "img-centered-vertical" %>
      </div>
    </div>
  </div>
</div>
<br>
<h2 class="text-center"> Bible Studies </h2>

<div class="row" data-equalizer>
  <section class="small-12 large-10 large-centered columns">
    <section class="small-12 medium-4 columns white-border info-box" data-equalizer-watch>
      <br>
      <%= image_tag "bible_study.jpg", class: "img-centered-horizontal"%>
      <h4 class="text-center">INVESTIGATIVE BIBLE STUDY</h4>
      <p>In this introductory Bible study, we study the nature and life of Jesus Christ through the seven miracles in the Gospel of John. This Bible study is accessible to those who are new to the Bible, while at the same time fresh and insightful for those who have read the Bible before.</p>
    </section>
    <section class="small-12 medium-4 columns white-border info-box" data-equalizer-watch>
      <br>
      <%= image_tag "assurances.jpg", class: "img-centered-horizontal"%>
      <h4 class="text-center">LESSONS ON ASSURANCE</h4>
      <p>Following the IBS, we move on to learning about the assurances God's Word gives to every believer in their walk with Christ: assurances of salvation, answered prayer, victory over sin, forgiveness, and guidance. This classic Navigator Bible study is highly applicable to our lives as disciples of Christ!</p>
    </section>
    <section class="small-12 medium-4 columns end white-border info-box" data-equalizer-watch>
      <br>
      <%= image_tag "dfd_books.jpg", class: "img-centered-horizontal"%>
      <h4 class="text-center">DESIGN FOR DISCIPLESHIP</h4>
      <p>The Design for Discipleship is a seven book Bible study series by the Navigators. It is a comprehensive study of discipleship and all its aspects as revealed in the Bible. Each book is comprised of questions that facilitate discussion and deep sharing in the small group.</p>
    </section>
  </section>
</div>

