<div class="row">
<% small_groups_row.each do |small_group|
  if small_groups_row.length == 2 %>
    <section class="small-12 medium-6 columns white-border contact-box">
  <% elsif small_groups_row.length == 1 %>
    <section class="small-12 medium-6 medium-centered columns white-border contact-box">
  <% end %>
      <h5><%= small_group.name %></h5>
      <p>Current Study: <%= small_group.current_study %><br>
         Location/Time: <%= small_group.location_and_time %><br>
         Leaders: <%= small_group.leaders %><br>
      </p>
    </section>
  <% end %>
</div>
