<% provide(:title, @leaders_page_title) %>

<div class="small-12">
  <section class="main-photo bg-img-top fast-height-trans" id="<%= @main_photo_id %>"></section>
</div>

<%=
unless @campus_leaders["all"].empty?
  render 'campus/campus_leaders', leaders: @campus_leaders
end
%>

<%=
unless @student_leaders["all"].empty?
  render 'campus/student_leaders', leaders: @student_leaders
end
%>
