<% provide(:title, @small_groups_page_title) %>

<%= render 'campus/small_groups_common_info' %>
<br><br>

<h2 class="text-center">Find A Small Group</h2>

<div class="row">
  <section class="small-12 large-10 large-centered columns">
    <%
    index = 0
    while index < @small_groups.length
      small_groups_row = Array.new
      small_groups_row.push @small_groups[index]

      next_small_group_index = index + 1
      if next_small_group_index < @small_groups.length
        small_groups_row.push @small_groups[next_small_group_index]
        index = next_small_group_index
      end %>
      
      <%= render 'campus/small_groups_row', small_groups_row: small_groups_row %>

      <% index += 1
    end %>
  </section> 
</div>

<div class="row text-center block-spacing-top">
  <div class="small-12 columns">
    <%= link_to "Get Involved", contact_path, class: "responsive-button" %>
  </div>
</div>
