<!DOCTYPE HTML>
<html>
    <head>
        <title>UCLA Campus Page</title>
    </head>
    <body>
    	<div class="page">
    		<div class="small-12">
                <section class="main-photo img-bg" id="UCLA-main"></section>
            </div>
    		<div class="small-12">
                <section class="separation-1"></section>    
    			<h1><strong>UCLA ICA</strong></h1>
                <section class="separation-1"></section>    
    		</div>
            <div class="row" data-equalizer>
    			<div class="small-8 columns orb-bg" data-equalizer-watch>
    				<ul class="example-orbit-content " data-orbit>
                      <li data-orbit-slide="headline-1">
                        <div class="text-white">
                          <h2 class="text-white">Labor Day Hike</h2>
                          <section class="separation-1"></section>  
                          <h3 class="text-white">9/1</h3>
                           <h3 class="text-white">8:30pm pickup</h3>
                          <h3 class="text-white">Location: De Nev Turnaround</h3>
                        </div>
                      </li>
                      <li data-orbit-slide="headline-2">
                        <div class="text-white">
                          <h2 class="text-white">Dance Party</h2>
                          <section class="separation-1"></section>  
                          <h3 class="text-white">9/2</h3>
                           <h3 class="text-white">5:30pm</h3>
                          <h3 class="text-white">Location: </h3>
                        </div>
                      </li>
                      <li data-orbit-slide="headline-3">
                        <div class="text-white">
                          <h2 class="text-white">Headline 3</h2>
                          <section class="separation-1"></section>  
                          <h3 class="text-white">Subheadline</h3>
                        </div>
                      </li>
                    </ul>
    			</div>
    			<div class="small-4 columns gold" data-equalizer-watch>
					<br><br><br>
					<h6 class="serif"><strong><em>Large Group Rally</em></strong></h6>
					<h6 class="serif">Wednesday, 6:30pm</h6>
					<h6 class="serif">Akerman Viewpoint Conference Room</h6>
					<br>
					<h6 class="serif"><strong><em>Church</em></strong></h6>
					<h6 class="serif">Pickup Time:9:00am</h6>
					<h6 class="serif">Pickup Location: De Nev Turnaround</h6>
                    <br><br><br>
    			</div>
    		</div>
            <div class="small-12">
                <section class="main-photo img-bg" id="UCLA-group"></section>
            </div>  
            <section class="separation-2"></section>   
    		<div class="row narrow-80">
                <ul class="medium-block-grid-1 medium-block-grid-2">
                    <li>
                        <h1>Small Groups</h1>
                        

                       <%= link_to "", "#", id: "sgBear", class: "circular inline-block" %>

                    </li>
                    <li>
                        <h1>Meet The Leaders</h1>

                        <%= link_to "", ucla_leaders_path, id: "leadBear", class: "circular inline-block" %>

                    </li>
                </ul>
            </div>
            <section class="separation-2"></section>   
            <div class="row narrow-20">
                <ul class="small-block-grid-1 medium-block-grid-2">
                    <li class="center-text">    
                        <div class="ContactButton">
                            <a href="UCLAcontact.html" id="ContButton">Contact Us</a>
                        </div>
                    </li>
                    <li class="center-text">   
                        <div class="ConnectedButton">
                            <a href="UCLAconnection.html" id="ConnButton">Get Connected</a>
                        </div>
                    </li>
                </ul>
            </div>
            <section class="separation-2"></section>   
    		<div class="small-12">
    			<h1>Upcoming Events</h1>
    			<iframe src="https://www.google.com/calendar/embed?src=en.usa%23holiday%40group.v.calendar.google.com&ctz=America/Los_Angeles" id="UCLAcalendar"></iframe>
    		</div>
            <section class="separation-2"></section>   

            

            
    	</div>
    	
    </body>
</html>
