<% provide(:title, 'UCLA Small Groups') %>

<%= render 'small_groups/small_groups_common' %>
<br>
<br>

<h2 class="text-center">Find A Small Group</h2>
<div class="row">
  <section class="small-12 large-10 large-centered columns">
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Freshmen Guys </h5>
      <p> Date/Time: <br>
          Location: <br>
          Leaders: <br>
          Contact: <br>
      </p>
    </section>
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Freshmen Girls </h5>
      <p> Date/Time: <br>
          Location: <br>
          Leaders: <br>
          Contact: <br>
      </p>
    </section>
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Sophomore Guys </h5>
      <p> Date/Time: <br>
          Location: <br>
          Leaders: <br>
          Contact: <br>
      </p>
    </section>
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Sophomore Girls </h5>
      <p> Date/Time: <br>
          Location: <br>
          Leaders: <br>
          Contact: <br>
      </p>
    </section>
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Junior Guys </h5>
      <p> Date/Time: <br>
          Location: <br>
          Leaders: <br>
          Contact: <br>
      </p>
    </section>
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Junior Girls </h5>
      <p> Date/Time: <br>
          Location: <br>
          Leaders: <br>
          Contact: <br>
      </p>
    </section>
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Senior Guys </h5>
      <p> Date/Time: <br>
          Location: <br>
          Leaders: <br>
          Contact: <br>
      </p>
    </section>
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Senior Girls </h5>
      <p> Date/Time: <br>
          Location: <br>
          Leaders: <br>
          Contact: <br>
      </p>
    </section>
  </section> 
</div>

<div class="row text-center block-spacing-top">
  <div class="small-12 columns">
    <%= link_to "Get Involved", contact_path, class: "responsive-button" %>
  </div>
</div>
