<% provide(:title, 'UCI') %>

    		<div class="small-12">
          <section class="main-photo bg-img fast-height-trans" id="UCI-main"></section>
        </div>
    		<div class="row text-center">
          <section class="separation-1"></section>    
    			<h1><strong>Irvine ICA</strong></h1>
          <section class="separation-1"></section>    
    		</div>
        <div class="row" data-equalizer>
    			<div class="small-12 medium-4 medium-push-8 large-4 large-push-8 columns bg-gold text-center" data-equalizer-watch>
            <br><br><br>
            <h4 class="serif"><strong><em>Large Group Rally</em></strong></h4>
            <h6 class="serif">Thursday, 6:30pm</h6>
            <h6 class="serif">Location: Balboa Island B</h6>
            <h6 class="serif"></h6>
            <br>
            <h4 class="serif"><strong><em>Church</em></strong></h4>
            <h6 class="serif">Pickup Time: 8:45am</h6>
            <h6 class="serif">Pickup Location: Please Contact Driver</h6>
            <br><br><br>
          </div>
          <div class="small-12 medium-8 medium-pull-4 large-8 large-pull-4 columns orb-bg bg-ucla-blue" data-equalizer-watch>
    				<ul class="example-orbit-content" data-orbit data-option="slide_number:false;" >
                      <li data-orbit-slide="headline-1">
                        <div class="text-center">
                          <section class="separation-2"></section>
                          <h3 class="white">Summer ICA</h3>
                          <section class="separation-2"></section>  
                    
                          <h5 class="serif white">Check back for fun summer events!</h5>
                          <section class="separation-2"></section>
                        </div>
                      </li>
                      <li data-orbit-slide="headline-2">
                        <div class="text-center">
                          <section class="separation-2"></section>
                          <h3 class="white">Summer Training Program</h3>
                          <section class="separation-1"></section>  
                          <h5 class="serif white">8/31 - 9/20</h5>
                          <h5 class="serif white">Location: Pine Valley Bible Conference Center</h5>
                          <h5 class="serif white">Register: <a href="www.tinyurl.com/stp2014app" class="usc-link fast-color-trans" target="_blank">here</a></h5>
                          <section class="separation-2"></section>
                        </div>
                      </li>
                      <li data-orbit-slide="headline-3">
                        <div class="text-center">
                          <section class="separation-2"></section>
                          <section class="separation-2"></section>
                          <h3 class="serif white">Click <a href="https://www.facebook.com/groups/28628738058/" class="usc-link fast-color-trans" target="_blank">here</a> to check out more events on our Facebook page!</h3>
                          <section class="separation-2"></section>
                          <section class="separation-2"></section>
                        </div>
                      </li>
                    </ul>
             </div>
    			
    		</div>
        <div class="small-12">
        <section class="main-photo bg-img-top" id="UCI-group"></section>
        </div>  
        <section class="separation-2"></section>   
        <div class="row"> 
          <div class="medium-8 columns text-center small-centered" data-equalizer>
          	<div class="small-12 medium-6 columns text-center" data-equalizer-watch>
              <figure class="fig-link">
                <h3><strong>Small Groups</strong></h3>
                <%= link_to "", uci_small_groups_path, id: "small-groups", class: "circular bg-circular inline-block fast-opacity-trans" %>
              </figure>
            </div>
            <div class="small-12 medium-6 columns text-center" data-equalizer-watch>
              <figure class="fig-link">
                <h3><strong>Meet The Leaders</strong></h3>
                <%= link_to "", uci_leaders_path, id: "uci-statue", class: "circular bg-circular inline-block fast-opacity-trans" %>
              </figure>
            </div>
          </div> 
        </div> 
            <section class="separation-2"></section>   
        <div class="row">
          <div class="medium-6 columns text-center small-centered">
            <div class="small-12 medium-12 large-6 columns text-center">
              <%= link_to "ICA Home", root_path, class: "responsive-button set-width" %>  
            </div>
            <div class="small-12 medium-12 large-6 columns text-center">
              <%= link_to "Get Connected", contact_path, class: "responsive-button set-width" %>  
            </div>
          </div>  
        </div>
            <section class="separation-2"></section>   
      	<div class="row hidden-for-small-only">
        	<div class="small-12 columns text-center">
      			<h1>Upcoming Events</h1>
      			<iframe src="https://www.google.com/calendar/embed?title=Irvine%20ICA%20Events&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=irvineica%40gmail.com&amp;color=%232952A3&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%235229A3&amp;ctz=America%2FLos_Angeles" id="UCLAcalendar"></iframe>
      		</div>
        </div>
            <section class="separation-2"></section>   

            

            
    	</div>
    	

