
    		<div class="small-12">
          <section class="main-photo bg-img fast-height-trans" id="UCLA-main"></section>
        </div>
    		<div class="row text-center">
          <section class="separation-1"></section>    
    			<h1><strong>UCI ICA</strong></h1>
          <section class="separation-1"></section>    
    		</div>
        <div class="row" data-equalizer>
    			<div class="small-12 medium-4 medium-push-8 large-4 large-push-8 columns bg-gold text-center" data-equalizer-watch>
            <br><br><br>
            <h6 class="serif"><strong><em>Large Group Rally</em></strong></h6>
            <h6 class="serif">Wednesday, 6:30pm</h6>
            <h6 class="serif">Akerman Viewpoint Conference Room</h6>
            <br>
            <h6 class="serif"><strong><em>Church</em></strong></h6>
            <h6 class="serif">Pickup Time:9:00am</h6>
            <h6 class="serif">Pickup Location: De Nev Turnaround</h6>
            <br><br><br>
          </div>
          <div class="small-12 medium-8 medium-pull-4 large-8 large-pull-4 columns orb-bg bg-ucla-blue" data-equalizer-watch>
    				<ul class="example-orbit-content" data-orbit data-option="slide_number:false;" >
                      <li data-orbit-slide="headline-1">
                        <div class="text-center">
                          <section class="separation-2"></section>
                          <h3 class="white">Labor Day Hike</h3>
                          <section class="separation-1"></section>  
                          <h5 class="serif white">9/1</h5>
                          <h5 class="serif white">8:30pm pickup</h5>
                          <h5 class="serif white">Location: De Nev Turnaround</h5>
                          <section class="separation-2"></section>
                        </div>
                      </li>
                      <li data-orbit-slide="headline-2">
                        <div class="text-center">
                          <section class="separation-2"></section>
                          <h3 class="serif white">Dance Party</h3>
                          <section class="separation-1"></section>  
                          <h5 class="serif white">9/2</h5>
                          <h5 class="serif white">5:30pm</h5>
                          <h5 class="serif white">Location: </h5>
                          <section class="separation-2"></section>
                        </div>
                      </li>
                      <li data-orbit-slide="headline-3">
                        <div class="text-center">
                          <section class="separation-2"></section>
                          <h3 class="serif white">Headline 3</h3>
                          <section class="separation-1"></section>  
                          <h5 class="serif white">Subheadline</h5>
                          <section class="separation-2"></section>
                        </div>
                      </li>
                    </ul>
             </div>
    			
    		</div>
        <div class="small-12">
        <section class="main-photo bg-img" id="UCLA-group"></section>
        </div>  
        <section class="separation-2"></section>   
          <div class="medium-8 columns text-center small-centered" data-equalizer>
          	<div class="small-12 medium-6 columns text-center" data-equalizer-watch>
              <figure class="fig-link">
                <h3><strong>Small Groups</strong></h3>
                <%= link_to "", uci_leaders_path, id: "uci-statue", class: "circular bg-circular inline-block fast-opacity-trans" %>
              </figure>
            </div>
            <div class="small-12 medium-6 columns text-center" data-equalizer-watch>
              <figure class="fig-link">
                <h3><strong>Meet The Leaders</strong></h3>
                <%= link_to "", uci_leaders_path, id: "uci-statue", class: "circular bg-circular inline-block fast-opacity-trans" %>
              </figure>
            </div>
          </div>  
            <section class="separation-2"></section>   
          <div class="medium-6 columns text-center small-centered">
            <div class="small-12 medium-12 large-6 columns text-center">
              <%= link_to "Contact Us", "#", class: "responsive-button set-width" %>  
            </div>
            <div class="small-12 medium-12 large-6 columns text-center">
              <%= link_to "Get Connected", "#", class: "responsive-button set-width" %>  
            </div>
          </div>  
            <section class="separation-2"></section>   
    		<div class="small-12 columns text-center">
    			<h1>Upcoming Events</h1>
    			<iframe src="https://www.google.com/calendar/embed?src=en.usa%23holiday%40group.v.calendar.google.com&ctz=America/Los_Angeles" id="UCLAcalendar"></iframe>
    		</div>
            <section class="separation-2"></section>   

            

            
    	</div>
    	

