<% provide(:title, 'UCI Small Groups') %>

<%= render 'small_groups/small_groups_common' %>
<br>
<br>

<h2 class="text-center">Find A Small Group</h2>
<div class="row">
  <section class="small-12 large-10 large-centered columns">
    <div class="row">
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Freshmen/Sophomore Guys </h5>
      <p> Date/Time: Mondays 8PM<br>
          Location: Student Center West Food Court<br>
          Leaders: Mike, Caleb<br>
          Contact: Mike - (310) 433-1648<br>
      </p>
    </section>
    <section class="small-12 medium-6 columns white-border contact-box">
      <h5> Girls' Bible Study </h5>
      <p> Date/Time: Tuesdays 8PM<br>
          Location: Student Center West Food Court<br>
          Leaders: Bern, Michelle<br>
          Contact: Bern - (949) 525-5809<br>
      </p>
    </section>
    </div>
    <div class="row">
    <section class="small-12 medium-6 medium-centered columns white-border contact-box">
      <h5> Junior/Senior Guys </h5>
      <p> Date/Time: Tuesdays 8PM<br>
          Location: Student Center West Food Court<br>
          Leaders: Caleb<br>
          Contact: Caleb - (714) 833-1403<br>
      </p>
    </section>
    </div>
  </section> 
</div>

<div class="row text-center block-spacing-top">
  <div class="small-12 columns">
    <%= link_to "Get Involved", contact_path, class: "responsive-button" %>
  </div>
</div>
