.outer-panel-3e {
  margin-top: 10px;
  background-color: #E0E2E4;
}

.panel-content-3e {
  margin: 10px 20px 0 20px;
  text-align: left;
}

.inner-panel-3e {
  margin: 10px 5px 0 5px;
  background-color: #E0E2E4;
}
