
.headerbox
{
	width: 998px;
	text-align: center;
}

.header
{
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	font-size: 24pt;
	color: #495159;
}

.misstitle
{
	margin-top: 20px;
	text-align: left;
  font-family: 'Montserrat', sans-serif;
	font-size: 24pt;
	color: #626C76;
}


.misstateleft
{
	
	margin-top: 10px;
	font-family: Arial;
	font-weight: Regular;
	font-size: 12pt;
	text-align: justify;
	text-indent: 50px;
	line-height: 170%;
	color: #373D43;
}

.misstateright
{

	margin-top: 10px;
	font-family: Arial;
	font-weight: Regular;
	font-size: 12pt;
	text-align: justify;
	text-indent: 50px;
	line-height: 170%;
	color: #373D43;
}

.centerpic
{
	width: 998px;
	margin-top: 380px;
}

.threeE
{

  font-family: 'Montserrat', sans-serif;
	font-weight: Regular;
	font-size: 20pt;
	color: #626C76;
}


.Ev
{	
	margin-top: 10px;
//	margin-left: 20px;
	background-color: #E0E2E4;
}

.EvHeader
{
	text-align: center;
  font-family: 'Montserrat', sans-serif;
	font-weight: Regular;
	font-size: 20pt;
	color: #103459;
}

.EvBody
{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
//	text-indent: 35px;
	font-family: Arial;
	font-weight: Regular;
	font-size: 13pt;
	line-height: 170%;
	color: #373D43;
}

.Est
{
	margin-top: 10px;
	margin-right: 5px;
 margin-left: 5px;
	background-color: #E0E2E4;
}



.EstHeader
{
	text-align: center;
  font-family: 'Montserrat', sans-serif;
	font-weight: Regular;
	font-size: 20pt;
	color: #103459;
}

.EstBody
{	
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
//	text-indent: 35px;
	font-family: Arial;
	font-weight: Regular;
	font-size: 13pt;
	line-height: 170%;
	color: #373D43;
}

.Eq
{

	margin-top: 10px;
	//margin-right: 20px;
	background-color: #E0E2E4;
}

.EqHeader
{
	text-align: center;
  font-family: 'Montserrat', sans-serif;
	font-weight: Regular;
	font-size: 20pt;
	color: #103459;
}

.EqBody
{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
//	text-indent: 35px;
	font-family: Arial;
	font-weight: Regular;
	font-size: 13pt;
	line-height: 170%;
  color: #373D43;
}

.separation-0-1 {
  height: 5px;
}

//li :hover{
	
//		background: scale-color(#E0E2E4, //$lightness: 50%) !important;
//}

.boxheight
{
	
		height: 455px;
}

.smallboxheight
{
	
		height: 300px;
}
