// images 

#pastormin {
	background-image: asset-url('pmin.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
}

#pastorgreer{
	background-image: asset-url('jgreer.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
}

#mikewong {
	background-image: asset-url('mgw.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
}

#modal1 {
	border-radius: 15px;
}

#modal2 {
	border-radius: 15px;
}

#modal3 {
	border-radius: 15px;
}
