@import "utilities/global";

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

/* BOX MODEL SELECTORS */

.border-bottom {
  border-bottom: 2px solid;
}

.text-padding {
  padding: 20px 20px 20px 20px !important;
}

/* ELEMENT DISPLAY CONVERSIONS */

.inline-block {
  display: inline-block;
}

/* GRID LAYOUT */

.block-spacing {
  padding: 50px 0 50px 0 !important;
}

.block-spacing-bottom {
  padding: 0 0 50px 0 !important;
}

.block-spacing-top {
  padding: 50px 0 0 0 !important;
}

/* IMAGES */

.circular {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border: 1px solid transparent;
}

.circular:hover {
  opacity: .7;
}

// Background

.bg-header-opaque {
  background-color: rgba($primary-color, .1);
}


.img-overlay {
  width: 20%;
  min-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 150px; right: 0; bottom: 0; left: 0;
  z-index: 0;
}


/* BACKGROUND IMAGES */

.img-bg {
  background-position: center bottom !important;
  background-size: cover !important;
}

.fig-link {
  margin: 0 0 50px 0;
}


// homepage

#home-main {
  background: asset-url('landscapeSmall2.jpg') no-repeat;
}




#home-second {
  background: asset-url('group_pic.jpg') no-repeat fixed;
}

#test-iphone {
  background: asset-url('group_pic.jpg') no-repeat;
}

#usc-statue {
  background: asset-url('usc_statue.jpg') no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

#ucb-statue {
  background: asset-url('ucb_statue.jpg') no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

#uci-statue {
  background: asset-url('uci_statue.jpg') no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

#ucla-statue {
  background: asset-url('ucla_statue.jpg') no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

/* MISC. */

/* Leaders */

#UCLAlead-main {
  background: asset-url('servants.jpg') no-repeat;
}

/* Campus */

#UCLA-main {
  background: asset-url('ucla_campus.jpg') no-repeat; 
}
#UCLA-group {
  background: asset-url('ucla_group.jpg') no-repeat; 

  .img-bg1 {
    background-position: center !important;
    background-size: cover !important;
  }
}

.separation-1 {
  height: 25px;
}

.separation-2 {
  height: 50px;
}

.separation-3 {
  height: 75px;
}

/* TRANSITIONS */

.fast-color-trans {
  transition: color 300ms;
  -webkit-transition: color 300ms; /* Safari */
}

.fast-height-trans {
  transition: height 300ms;
  -webkit-transition: height 300ms; /* Safari */
}

.fast-opacity-trans {
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms; /* Safari */
}

/* TYPOGRAPHY */

h3.arial {
  font-family: Arial, sans-serif;
}

h3.serif {
  font-family: Georgia, serif;
}

h4.serif {
  font-family: Georgia, serif;
}

h5.serif {
  font-family: Georgia, serif;
}

h6.serif {
  font-family: Georgia, serif;
}

p.default {
  color: $grey5;
}

p.indent {
  text-indent: 50px;
}

p.serif {
  font-family: Georgia, serif;
  color: $grey4;
}

p.serif-black {
  font-family: Georgia, serif;
  color: black;
}
