@import "utilities/global";

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

/* BOX MODEL */

.border-bottom {
  border-bottom: 2px solid;
}

.text-padding {
  padding: 20px 20px 20px 20px !important;
}

/* ELEMENT DISPLAY CONVERSIONS */

.inline-block {
  display: inline-block;
}

/* GRID LAYOUT */

/* IMAGES & BACKGROUND */

.bg-header-opaque {
  background-color: rgba($primary-color, .1);
}

.bg-img {
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.circular {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border: 1px solid transparent;
}

.circular:hover {
  opacity: .7;
}

.fig-link {
  margin: 0 0 50px 0;
}

.img-overlay {
  width: 20%;
  min-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 150px; right: 0; bottom: 0; left: 0;
  z-index: 0;
}

/* MISC. */

.separation-1 {
  height: 25px;
}

.separation-2 {
  height: 50px;
}

.separation-3 {
  height: 75px;
}

/* TRANSITIONS */

.fast-color-trans {
  transition: color 300ms;
  -webkit-transition: color 300ms; /* Safari */
}

.fast-height-trans {
  transition: height 300ms;
  -webkit-transition: height 300ms; /* Safari */
}

.fast-opacity-trans {
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms; /* Safari */
}

/* TYPOGRAPHY */

h3.arial {
  font-family: Arial, sans-serif;
}

h3.serif {
  font-family: Georgia, serif;
}

h4.serif {
  font-family: Georgia, serif;
}

h5.serif {
  font-family: Georgia, serif;
}

h6.serif {
  font-family: Georgia, serif;
}

p.default {
  color: $grey5;
}

p.indent {
  text-indent: 50px;
}

p.serif {
  font-family: Georgia, serif;
  color: $grey4;
}

p.serif-black {
  font-family: Georgia, serif;
  color: black;
}
