@import "utilities/global";

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

/* ALIGNMENT */

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* BOX MODEL */

.border-bottom {
  border-bottom: 2px solid;
}

.text-padding {
  padding: 20px 20px 20px 20px !important;
}

/* CUSTOM TEXT */

.highlight-text {
  color: $blue5;
}

.usc-link {
  color: inherit;
  font-style: italic;
  text-decoration: underline;
}

.usc-link:hover {
  color: $usc-secondary;
}

.verse {
  font-style: italic;
}

/* ELEMENT DISPLAY CONVERSIONS */

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

/* FOUNDATION */

/* GRID LAYOUT */

/* IMAGES & BACKGROUND */

.bg-blue {
  background-color: $blue5;
}

.bg-blue-light {
  background-color: $blue6;
}

.bg-gold {
  background-color: $gold1;
}

.bg-grey {
    background-color: $grey7;
}

.bg-red {
  background-color: $red;
}

.bg-red-rutgers {
  background-color: $red-rutgers;
}

.bg-grey-rutgers {
  background-color: $grey-rutgers;
}

.bg-circular {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: auto 100% !important;

}

.bg-header-opaque {
  background-color: rgba($ica-primary-color, .2);
}

.bg-img {
  background-position: center bottom;
  background-size: cover !important;
  background-repeat: no-repeat;
}

.bg-img-contain {
  background-position: center bottom;
  background-size: contain !important;
  background-repeat: no-repeat;
}

.bg-img-fixed {
  background-position: center bottom;
  background-size: cover !important;
  background-repeat: no-repeat;
}

.bg-img-top {
  background-position: center top;
  background-size: cover !important;
  background-repeat: no-repeat;
}

.bg-img-center {
  background-position: center center;
  background-size: cover !important;
  background-repeat: no-repeat;
}

.bg-ucla-blue {
  background-color: $blue4;
}


/* IMAGES */

.circular {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border: 1px solid transparent;
}

.circular:hover {
  opacity: .7;
}

.circular-opaque {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border: 1px solid transparent;
  opacity: .7;
}

.circular-opaque:hover {
  opacity: 1;
}

.fig-link {
  margin: 0 0 50px 0;
}

.img-fill {
  width: 100%;
  height: auto;
}

.img-padded {
  padding: 5px;
}

.img-max {
  width: 100%;
  height: auto;
}

/* LINKS */

.clickable {
  cursor: pointer;
}

.no-link {
  font-style: italic;
}

.no-link:hover {
  cursor: default;
}

/* NAVBAR & FOOTER */

footer {
  a {
    color: $grey2;
    font-family: Georgia, serif;
  }

  a:hover {
    color: $grey5;
  }

  h6 {
    color: $grey2;
    margin: 0;
  }

  img {
    padding-bottom: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .bg-footer-1 {
    background-color: $blue3;
  }

  .header-link:hover {
    color: $grey5;
  }
}

.separation-1 {
  height: 25px;
}

.separation-2 {
  height: 50px;
}

.separation-3 {
  height: 75px;
}

/* SHAPES */

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid $grey7;
  //margin: 0 auto !important;
}

/* TRANSITIONS */

.fast-color-trans {
  transition: color 300ms;
  -webkit-transition: color 300ms; /* Safari */
}

.fast-height-trans {
  transition: height 300ms;
  -webkit-transition: height 300ms; /* Safari */
}

.fast-width-trans {
  transition: width 300ms;
  -webkit-transition: width 300ms; /* Safari */
}

.fast-opacity-trans {
  transition: opacity 300ms;
  -webkit-transition: opacity 300ms; /* Safari */
}

/* TYPOGRAPHY */

p {
  font-family: Georgia, serif !important;
  color: $grey2 !important;
}

h3.arial {
  font-family: Arial, sans-serif;
}

h1.serif,
h2.serif,
h3.serif,
h4.serif,
h5.serif,
h6.serif {
  font-family: Georgia, serif;
}

h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white, 
p.white {
  color: white;
}

p.alt-font {
  font-family: Arial, sans-serif !important;
  color: $grey5 !important;
}
