@import "utilities/global";

#home-third {
  background: asset-url('contact_us_banner.jpg') no-repeat fixed;
}

.header-about {
  font-family: 'Montserrat', Arial;
  font-weight: bold;
  font-size: 24pt;
  color: $grey1;
  text-align: left;
}

.margin-1{
  margin-left:50px;
}

.subheader-about {
  font-family: 'Georgia', Arial;
  font-weight: normal;
  font-size: 14pt;

  color: $grey2;
  text-align: left;
}

.form {
  background: $grey6;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

  .form2 {

  background: #b6b9bd;
 
  }

  .field{
    height:55px !important;

    padding: 13px 13px 13px 54px !important;

    font-size: 18px !important;
    font-family: Helvetica, Arial, sans-serif !important;
    color:#626c76 !important;

}

textarea#comment {
    padding: 13px 13px 13px 54px !important;

  
    font-size: 18px !important;
    font-family: Helvetica, Arial, sans-serif !important;
    color:#626c76 !important;
}




::-webkit-input-placeholder {
   color: #626c76 !important;
   }

:-moz-placeholder { /* Firefox 18- */
   color: #626c76 !important;
    opacity:1 !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #626c76 !important;
   opacity:1 !important;  
}

:-ms-input-placeholder {  
   color: #626c76 !important;  
}



  #name{
  background-image: asset-url('user.png') !important;

 //background-image: url(http://rexkirby.com/kirbyandson/images/name.svg) !important;
  background-size: 24px 24px !important;
  background-position: 11px 8px !important;
  background-repeat: no-repeat !important;
}

#email{
  background-image: asset-url('mail.png') !important;

 //background-image: url(http://rexkirby.com/kirbyandson/images/email.svg) !important;
  background-size: 24px 24px  !important;
  background-position: 11px 8px !important;
  background-repeat: no-repeat !important;
}

#comment{
  background-image: asset-url('edit.png') !important;
//  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg) !important;
  background-size: 24px 24px !important;
  background-position: 11px 8px !important;
  background-repeat: no-repeat !important;
}

#school{
  background-image: asset-url('home.png') !important;
// background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg) !important;
  background-size: 24px 24px  !important;
  background-position: 11px 9px !important;
 // background-repeat: no-repeat !important;
}


.roundbox2
{
  -moz-border-radius:10px; 
  -webkit-border-radius:10px !important; 
  -khtml-border-radius: 10px; 
  border-radius: 10px !important;
  outline-style:none;
  -webkit-appearance: none;
box-shadow:none;
border-color:transparent;

}

.roundbox
{
  -moz-border-radius:10px; 
  -webkit-border-radius:10px !important; 
  -khtml-border-radius: 10px; 
  border-radius: 10px !important;
  outline-style:none;
  -webkit-appearance: none;
box-shadow:none;
border-color:transparent;
height:50px !important;

}

textarea{
  
  resize:vertical !important;

}

.separation-0 {
  height: 10px;
}



