//Discipleship

#david-alan {
  background:asset-url('david_alan.jpg');
  width: 100%;
}

#bern-sarah {
  background: asset-url('bern_sarah.jpg');
}

#david{
  background: asset-url('david.jpg') center;
}

#jdc{
  background: asset-url('jdc.jpg');
}

#jen{
  background: asset-url('jen.jpg');
}

#elaine{
  background: asset-url('elaine.jpg');
}

#spiritual-gen{
  background: asset-url('spiritual_generations.jpg');
}