/* IMAGES */

// CAMPUS

#UCLA-main {
  background: asset-url('ucla_campus.jpg') no-repeat;
}
#UCLA-group {
  background: asset-url('ucla_group.jpg') no-repeat;
  
  .img-bg1 {
    background-position: center !important;
    background-size: cover !important;
  }
}

// HOMEPAGE

#home-main {
  background-image: asset-url('landscapeSmall2.jpg');
}

#home-2 {
  background-image: asset-url('group_pic.jpg');
}

#cal-statue {
  background: asset-url('ucb_statue.jpg') no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

#uci-statue {
  background: asset-url('uci_statue.jpg') no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

#ucla-statue {
  background: asset-url('ucla_statue.jpg') no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

#usc-statue {
  background: asset-url('usc_statue.jpg') no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

// Leaders

#UCLAlead-main {
  background: asset-url('servants.jpg') no-repeat;
}

// Programs

#programs-main {
  background-image: asset-url('programs-collage-2.jpg');
  background-position: left top !important;
}

#programs-main-sml {
  background-image: asset-url('programs-wc-group.jpg');
  background-position: center bottom !important;
}

// STP

#stp-main {
  background-image: asset-url('stp/stp-collage.jpg');
}

#stp-1 {
  background-image: asset-url('stp/stp-alpine-lake.jpg');
}

#stp-brian,
#stp-brian-1 {
  background-image: asset-url('stp/stp-brian.png');
}

#stp-effie,
#stp-effie-1 {
  background-image: asset-url('stp/stp-effie.png');
}

#stp-jk,
#stp-jk-1 {
  background-image: asset-url('stp/stp-john.png');
}

#stp-nelly,
#stp-nelly-1 {
  background-image: asset-url('stp/stp-nelly.png');
}
