/* IMAGES */

// STP

#stp-main {
  background-image: asset-url('stp2014-1.jpg');
}

#stp-1 {
  background-image: asset-url('andrew_david1.jpg');
}

#stp-2 {
  background-image: asset-url('nessie_tammy1.jpg');
}

#stp-3 {
  background-image: asset-url('alpine1.jpg');
}

#stp-brian,
#stp-brian-1,
#stp-brian-2 {
  background-image: asset-url('Brian-STP.png');
}

#stp-effie,
#stp-effie-1,
#stp-effie-2 {
  background-image: asset-url('Effie-STP.png');
}

#stp-jk,
#stp-jk-1,
#stp-jk-2 {
  background-image: asset-url('John-STP.png');
}

#stp-nelly,
#stp-nelly-1,
#stp-nelly-2 {
  background-image: asset-url('Nelly-STP.png');
}
