/* IMAGES */

// CAMPUS

#small-groups {
  background-image: asset-url('small-groups-icon.png');
}

#cal-main {
  background-image: asset-url('cal-main.jpg');
}

#cal-group {
  background-image: asset-url('cal-group.jpg');
}

#cal-leaders {
  background-image: asset-url('cal-leaders-1.jpg');
}

#ucla-main {
  background-image: asset-url('ucla-main2.jpg');
}

#ucla-group {
  background-image: asset-url('ucla-group.jpg');
}

#ucla-leaders {
  background-image: asset-url('ucla-group.jpg');
}

#usc-main {
  background-image: asset-url('usc-campus-1.jpg');
}

#usc-group {
  background-image: asset-url('usc-group.jpg');
}

#usc-leaders {
  background-image: asset-url('usc-leaders.jpg');
}

#uci-main {
  background-image: asset-url('uci-main.jpg');
}

#uci-group {
  background-image: asset-url('uci-group.jpg');
}

#uci-leaders {
  background-image: asset-url('uci-group.jpg');
}

#rutgers-main {
  background-image: asset-url('rutgers-main.jpg');
}

#rutgers-group {
  background-image: asset-url('rutgers-group.jpg');
}

#rutgers-leaders {
  background-image: asset-url('rutgers-leaders.jpg');
}

// CONTACT

#contact {
  background: asset-url('contact/contact_us.jpg');
}

#name{
  background-image: asset-url('contact/user.png') !important;
  background-size: 24px 24px !important;
  background-position: 11px 8px !important;
  background-repeat: no-repeat !important;
}

#email{
  background-image: asset-url('contact/mail.png') !important;
  background-size: 24px 24px  !important;
  background-position: 11px 8px !important;
  background-repeat: no-repeat !important;
}

#comment{
  background-image: asset-url('contact/edit.png') !important;
  background-size: 24px 24px !important;
  background-position: 11px 8px !important;
  background-repeat: no-repeat !important;
}

#school{
  background-image: asset-url('contact/home.png') !important;

  background-size: 24px 24px  !important;
  background-position: 11px 9px !important;
}


// HOMEPAGE

#home-main {
  background-image: asset-url('home/home-landscape.jpg');
}

#home-2 {
  background-image: asset-url('wc/wc-group-photo.jpg');
}

#cal-leaders-icon,
#cal-statue {
  background: asset-url('berkeleybear.png');
}

#uci-leaders-icon,
#uci-statue {
  background: asset-url('anteater.png');
}

#ucla-leaders-icon,
#ucla-statue {
  background: asset-url('bruinbear.png');
}

#usc-leaders-icon,
#usc-statue {
  background: asset-url('tommytrojan.png');
}

#rutgers-leaders-icon,
#rutgers-statue {
  background: asset-url('rutgers-mascot.jpg');
}

// Leaders

// #UCLAlead-main {
//   background-image: asset-url('servants.jpg');
// }

// Programs

#programs-main {
  background-image: asset-url('programs/programs-collage.jpg');
  background-position: left top !important;
}

// STP

#stp-main {
  background-image: asset-url('stp/stp-collage.jpg');
}

#stp-1 {
  background-image: asset-url('stp/stp-alpine-lake.jpg');
}

#stp-brian,
#stp-brian-1 {
  background-image: asset-url('stp/stp-brian.png');
}

#stp-effie,
#stp-effie-1 {
  background-image: asset-url('stp/stp-effie.png');
}

#stp-jk,
#stp-jk-1 {
  background-image: asset-url('stp/stp-john.png');
}

#stp-nelly,
#stp-nelly-1 {
  background-image: asset-url('stp/stp-nelly.png');
}


// Discipleship

#discipleship-david-alan {
  background-image:asset-url('discipleship/david_alan.jpg');
}

#discipleship-bern-sarah {
  background-image: asset-url('discipleship/bern_sarah.jpg');
}

/*
#discipleship-david{
  background-image: asset-url('discipleship/david.jpg');
  background-position: 32% 28%;
}

#discipleship-jen{
  background-image: asset-url('discipleship/jen.jpg');
  background-position: center 20%;
}

#discipleship-elaine{
  background-image: asset-url('discipleship/elaine.jpg');
  background-position: center 15%;
  background-repeat: no-repeat;
}*/

#discipleship-jimmy,
#discipleship-jimmy-1 {
  background-image: asset-url('discipleship/jimmy-sml.png');
}

#discipleship-andrea,
#discipleship-andrea-1 {
  background-image: asset-url('discipleship/andrea-sml.jpg');
}

#discipleship-jeremy,
#discipleship-jeremy-1 {
  background-image: asset-url('discipleship/jeremy-sml.png');
}

#discipleship-jen,
#discipleship-jen-1 {
  background-image: asset-url('discipleship/jen-sml.png');
}

#discipleship-elaine-top{
  background-image: asset-url('discipleship/elaine_top.jpg')
}

#discipleship-spiritual-gen{
  background-image: asset-url('discipleship/4gen-banner.jpg');
}

// VISION

#vision-main {
  background-image: asset-url('vision/ministry-and-vision-infographic.jpg');
}

// WHEC
#faith-statement-cross {
  background-image: asset-url('whec/faith-statement-cross.jpg');
}

#whec-albert_jeremy_worship{
  background-image: asset-url('whec/albert_jeremy_worship.jpg');
}

#whec-elaine_worship.jpg{
  background-image: asset-url('whec/elaine_worship.jpg');
}

#whec-praise-1{
  background-image: asset-url('whec/praise-night-1.jpg');
}

#whec-worship-2{
  background-image: asset-url('whec/praise-night-2.jpg');
}

#whec-baptism_prayer{
  background-image: asset-url('whec/baptism_prayer.jpg');
}

#whec-baptism_UCLA{
  background-image: asset-url('whec/baptism_UCLA.jpg');
}

#whec-baptism_UCLAguys{
  background-image: asset-url('whec/baptism_UCLAguys.jpg');
}

#whec-baptism_UCLAgirls{
  background-image: asset-url('whec/baptism_UCLAgirls.jpg');
}

#whec-baptism_USC{
  background-image:asset-url('whec/baptism_USC.jpg');
}

#whec-cross
{
  background-image:asset-url('whec/cross.jpg');
  //background-repeat: no-repeat;
  //background-size: 100%;
  //background-position: center center; 
}


