@import "utilities/global";

.white-border {
  border: 5px solid white;
}

.info-box {
  background-color:$grey5;
  text-align:left;
}

.contact-box {
  background-color:$grey5;
  text-align:left;
}

.img-centered-horizontal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-centered-vertical {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


