// Place all the styles related to the UCLA controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
=======

body 
{
	Display:block;
	text-align: center;
}
p
{
	margin:0 auto;
}
>>>>>>> 5ab083e0bd7f064bc555035e5adc4164fe86ebf1
#header
{
	max-width: none;
	width: 100%;

}
<<<<<<< HEAD

=======
>>>>>>> 5ab083e0bd7f064bc555035e5adc4164fe86ebf1
#accordion
{
//	width: 74%;
	margin: 0 auto;
	Display:block;
	text-align: center;
}
#accordian>li
{
	//width: 40%;
	text-align: center;
	//display: inline-block;
	//margin: 0 auto;
}
.LeftF
{
	Float: left;
	text-align: left;
}
.AccT
{
	Font-size: 24pt;
	Font-family: Georgia;
	Color: #103459;
}
.LeadT
{
	Font-size: 30pt;
	Color: #495159;
}
.AccN
{
	Font-size: 14pt;
	Font-family: Georgia;
	Color: #626C76;
}
.AccWord
{
	width: 50%;
	float: left;
}
.DownTri
{
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid #818991;
	border-top: 5px solid transparent;
	border-bottom: 5px solid #818991;
	float:right;
}
.UpTri
{

	width: 0; 
	height: 0; 
	border-left: 5px solid #818991;
	border-right: 5px solid transparent;
	border-top: 5px solid #818991;
	border-bottom: 5px solid transparent;
	float:right;
}
.accordion .DownTri
{
	display:inline;
}
.accordion .active .DownTri
{
	display: none;
}
.AutoM
{
	margin-left: auto !important;
	margin-right: auto !important;
}
.page
{
	//width: 998px;
	margin:0 auto;
}
.UCLAtop 
{
  	position: relative;
}

.cover 
{
  	text-align: center;
  	width: 998px;
}
#UclaCover
{
	text-align: center;
	width: 998px;
}
/*
.logo 
{
  	position: absolute;
  	width: 998px;
  	height: 60px;
  	z-index: 1;
  	background-color:rgba(255,255,255,0.7);
  	top: 233px;
  	text-align: center;
  	text-transform: uppercase;
  	font-size: 30pt;
  	color: #495159; 
  	line-height: 50px;
  	font-family: Verdana, Geneva, sans-serif;
 }

*/

