@import "utilities/global";

/* Crossfade Stuff */

.cf {
  position:relative;
  height:515px;
  width:98%;
  margin:0 auto;
}

.cf div {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.cf div.bottom {
  opacity: 0;
}

/*Typography */

/*.verse
{
	padding-right: 50px;
	font-family: arial;
	font-weight: bold;
	font-style: italic;
	font-size: 24pt;
	color: #495159;
}

.verse white_harvest
{
	color: #8F9EAD;
}*/

/* Square */

.square{
	width:100%;
	height:495px;
	padding-top: 15%;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

/* BELIEFS GRID */

#beliefs-1 { background-color: $blue6; }
#beliefs-1 { background-color: $blue5; }
#beliefs-1 { background-color: $blue6; }
#beliefs-1 { background-color: $blue5; }
#beliefs-1 { background-color: $blue6; }
#beliefs-1 { background-color: $blue5; }
#beliefs-1 { background-color: $blue6; }
#beliefs-1 { background-color: $blue5; }
#beliefs-1 { background-color: $blue6; }
