@import "utilities/global";

/* Crossfade Stuff */

.cf {
  position:relative;

  div {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

    .cf-content {
      padding: 0 20px;
      vertical-align: middle;
    }
  }

  div.bottom {
    opacity: 0;
  }

  div.bottom,
  div.top {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    h4 {
      padding: 0 20px;
    }
  }
}

/* Square */

.square{
	width:100%;
	height:495px;
	padding-top: 15%;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

/* BELIEFS GRID */

#beliefs-1 {
  background-color: #E8EEF3;
  color: #626C76;
}

#beliefs-2 {
  background-color: #D2DCE7;
  color: #626C76;
}

#beliefs-3 {
  background-color: #BBCBDB;
  color: #626C76;
}

#beliefs-4 {
  background-color: #A5BACF;
  color: #626C76;
}

#beliefs-5 {
  background-color: #8EA8C3;
  color: white;
}

#beliefs-6 {
  background-color: #6B7E92;
  color: white;
}

#beliefs-7 {
  background-color: #505F6E;
  color: white;
}

#beliefs-8 {
  background-color: #3C4753;
  color: white;
}
