
@import "foundation/components/buttons";
.cross_size
{
  height: 500px;
  width:425px;
}

/*Fade Stuff*/

#cf {
  position:relative;
  height:515px;
  width:98%;
  margin:0 auto;
}

#cf div {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf div.top:hover {
  opacity:0;
}


/*Typography */

.verse
{
	padding-right: 50px;
	font-family: arial;
	font-weight: bold;
	font-style: italic;
	font-size: 24pt;
	color: #495159;
}

.verse white_harvest
{
	color: #8F9EAD;
}

.invite
{
	font-family: Georgia;
	font-size: 16pt;
	color: #495159;
}

p.psalms
{
	font-family: georgia;
	font-style: italic;
	font-size: 12pt;
	color: #373D43;
}


h2.foundational
{
  font-family: montserrat;
  font-size: 18pt;
}

h3.foundational
{
  font-family: montserrat;
  font-size: 16pt;
}

/*Buttons*/

.whec_button{
	@include button($button-med, #445D76, 40px, false, false, false);
}

/* Square */

.square{
	width:100%;
	height:495px;
	padding-top: 15%;
	padding-bottom: 10%;
	padding-left: 10%;
	padding-right: 10%;
}

