<div class="row separation-2">
</div>

<footer class="show-for-medium-up">
  <div class="row collapse text-center bg-footer-1">
    <div class="medium-12 medium-centered columns">
      <section class="block-spacing-sml">
        <h3 class="white"><strong><em>"The least of you will become a thousand,<br>
          the smallest a mighty nation. I am the LORD;<br>
          in its time I will do this swiftly."</em></strong></h3>
        <h3 class="white"><strong>Isaiah 60:22</strong></h3>
      </section>
    </div>
  </div>
  <div class="row bg-footer-2" data-equalizer>
    <div class="medium-3 columns" data-equalizer-watch>
      <ul>
        <li><h6>ABOUT</h6></li>
        <li><p>Vision/Mission</p></li>
        <li><p>One-to-One Discipleship</p></li>
        <li><p>Church Leadership</p></li>
        <li><p>Church</p></li>
      </ul>
    </div>
    <div class="medium-3 columns" data-equalizer-watch>
    </div>
    <div class="medium-3 columns" data-equalizer-watch>
    </div>
    <div class="medium-3 columns" data-equalizer-watch>
    </div>
  </div>
</footer>
