<footer class="show-for-medium-up">
  <div class="row collapse text-center">
    <div class="small-12 columns">
      <section>
        <h3><strong><em>"The least of you will become a thousand,<br>
          the smallest a mighty nation. I am the LORD;<br>
          in its time I will do this swiftly."</em></strong></h3>
        <h3><strong>Isaiah 60:22</strong></h3>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="medium-3 columns">
    </div>
    <div class="medium-3 columns">
    </div>
    <div class="medium-3 columns">
    </div>
    <div class="medium-3 columns">
    </div>
  </div>
</footer>
